@page
@model bulls_and_cows_game_project.Pages.GameModel
@{
	ViewData["Title"] = "Game";
}

<body>
    <h1>Bulls and Cows</h1>
    <p id="secret-code">_ _ _ _</p>

    <div id="gameOverModal" style="display: none;">
        <div class="modal-content">
            <p id="gameMessage">You won!</p>
            <div class="game-info">
                <div>
                    <span>Attempts: </span>
                    <span id="finalAttempts">0</span>
                </div>
                <div>
                    <span>Time:  </span>
                    <span id="time">00:00</span>
                </div>
                <div>
                    <span>Secret code:  </span>
                    <span id="revealedCode">????</span>
                </div>
            </div>
            <form method="get" action="/Game">
                <div class="d-flex justify-content-center gap-4 flex-wrap mb-4">
                    <div>
                        <input type="radio" class="btn-check" name="difficulty" id="easy" value="easy" checked>
                        <label class="btn btn-outline-primary" for="easy">
                            Easy<br />
                            <small>Unlimited attempts</small>
                        </label>
                    </div>

                    <div>
                        <input type="radio" class="btn-check" name="difficulty" id="normal" value="normal">
                        <label class="btn btn-outline-warning" for="normal">
                            Normal<br />
                            <small>15 attempts</small>
                        </label>
                    </div>

                    <div>
                        <input type="radio" class="btn-check" name="difficulty" id="hard" value="hard">
                        <label class="btn btn-outline-danger" for="hard">
                            Hard<br />
                            <small>5 attempts</small>
                        </label>
                    </div>
                </div>

                <div class="mt-4">
                    <button id="restartButton" type="submit" class="btn btn-success btn-xl px-5 py-3">Play again</button>
                </div>
            </form>
        </div>
    </div>
    <div id="numbers"></div>
</body>