html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}



body {
    background-color: #f4f4f4;
    text-align: center;
    font-family: Arial, sans-serif;
}

#numbers button {
    margin: 5px;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
}

#secret-code {
    font-size: 24px;
    margin: 6em 0;
}

#gameOverModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 90%;
}


.game-info {
    display: flex;
    justify-content: space-between;
    margin: 1em 2.5em 2em 2.5em;
}


#gameMessage {
    font-size: 24px;
}

.difficulty {
    text-transform: uppercase;
    font-weight: bold;
    font-size: larger;
}

.attempts-box {
    background: black;
    min-width: 8em;
    padding: 0.5em 1em;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    display: inline-block;
}

.infinity-font {
    font-family: 'Segoe UI', Arial, sans-serif;
}

.table-game {
    border: solid black 2px;
    table-layout: fixed;
    width: 70%;
}

.table-header {
    color: white;
    background-color: black;
    padding: 1em 0;
    text-transform: uppercase;
}

.table-header-cell {
    padding: 0.2em 0.7em;
}

#tableBody tr {
    height: 30px;
}

.table-bordered,
.table-bordered th,
.table-bordered td {
    border-width: 2px !important;
    border-style: solid !important;
    border-color: black;
}


